h1{
  margin-top: 100px;
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 35px;
}
h2{
  margin-top: 5px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
  font-size: 18px;
}

h3{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  font-size: 35px;
}
section{
  margin-top: 45px;
}


.historia__item{
  background-color: #dacdff;
  margin: 18px;
  padding: 20px;
  text-align: center;
  border-radius: 17px;
  display: inline-block;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 75px;
}

.historia__item--important{
  background-color: #dacdff;
  margin: 18px;
  padding: 20px;
  text-align: center;
  border-radius: 17px;
  display: inline-block;
  width: 20%;
  margin-top: 10px;
  font-weight: bolder;
  margin-bottom: 75px;
}

.historia__item:hover, .historia__item--important:hover{
  background-color: #FFE194;
}

#opciones{
  font-family: 'Zen Loop', cursive;
  font-size: 25px;
  font-weight: bolder;
}

form{
  margin: 40px;
  margin-left: 100px;
  margin-right: 100px;
  max-width: 100%;
}

p{
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bolder;
  font-size: 30px;
}
 textarea{
  vertical-align: middle;
 }

#enviar{
  text-align: center;
}

.enviar{
  font-size: 20px;
  font-family: 'Open Sans Condensed', sans-serif;
}